body {
	background-color: #F5F5F5;
	font-family: "微软雅黑";
}

a,button,input{-webkit-tap-highlight-color:rgba(255,0,0,0);}
a:active {
	color: #77DADC;
}

.header {
	height: 3rem;
	background-color: #fff;
	position: relative; 
}

.arrow {
	width: 2rem;
	font-size: .3rem;
	position: absolute;
	left: .5rem;
	top: 50%;
	transform: translateY(-50%);
}

.aarm {
	display: inline-block;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	font-size: 1.3rem;
	margin-top: 1rem;
	background-color: #fff;
	color: #5F5F5F;
	font-weight: 700;
}


.mui-input-group .mui-input-row {
	height: 4rem;
	line-height: 4rem;
}

input[type=text] {
	display: inline-block;
	margin: 0;
	font-size: 1.2rem;
	height: 4rem;
	border: 0;
	border-bottom: 1px solid #DDD;
	color: #333;
}

/*.mui-input-row {
	font-size: 1rem;
}

.mui-input-row label {
	width: 28%;
	padding: 0.5rem 0 1rem 1rem;
}

.mui-input-row label~input {
	margin: 0;
	padding: 0;
	width: 72%;
	height: 2.4rem;
}*/

